.container {
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

.title {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: capitalize;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid;
}

.header {
  font-size: 12px;
  text-transform: capitalize;
}

.table {
  width: 100%;
}

.cell {
  text-align: center;
  font-size: 12px;

  textarea {
    resize: none;
  }

  textarea,
  input {
    height: auto;
    text-align: center;
    border: none;
    white-space: wrap;
    word-wrap: break-word;
    text-transform: capitalize;

    &:hover {
      cursor: pointer;
    }
  }
}